/* Global-Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: var(--secound-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

:root {
    --main-color: hsl(158, 36%, 37%);
    --secound-color: hsl(30, 38%, 92%);
    --title-color: hsl(212, 21%, 14%);
    --paragraph-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);
}

/* End-Global-Rules */
/* Start-Card */
main.card {
    display: flex;
    background-color: var(--white-color);
    max-width: 650px;
    border-radius: 15px;
    overflow: hidden;
}

@media(max-width:767px) {
    main.card {
        flex-direction: column;
        height: 675px;
    }
}

main.card .img {
    flex-basis: 50%;
    background-image: url(../images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
}

@media(max-width:767px) {
    main.card .img {
        background-image: url(../images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
    }
}

.card-content {
    padding: 25px;
    flex-basis: 50%;
}

.card-content span {
    color: var(--paragraph-color);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card-content h1 {
    text-transform: capitalize;
    margin: 15px 0;
    font-size: 35px;
    line-height: 1.2;
    color: var(--title-color);
}

@media(max-width:767px) {

    .card-content h1 {
        font-size: 28px;
    }
}

.card-content p {
    color: var(--paragraph-color);
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 700;
}

.card-content .price {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.card-content .price p {
    margin-right: 10px;
    color: var(--main-color);
    font-size: 2.2rem;
}

.card-content .price small {
    color: var(--paragraph-color);
    font-size: 0.8rem;
}

.card-content a {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    padding: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.card-content a:hover {
    background-color: hsl(158, 36%, 25%);
}

.card-content img {
    margin-right: 15px;
    width: 20px;
}

/* End-Card */